/* 重置樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
}

/* 標題樣式 */
h1, h2, h3 {
  margin-bottom: 1rem;
  color: #222;
  text-align: center;
}

/* 全域按鈕樣式 */
.button {
  display: inline-block;
  background-color: #00adb5;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #007e84;
  transform: translateY(-2px);
}

/* Sidebar 樣式 */
.sidebar {
  background-color: #222831;
  color: #eeeeee;
  width: 250px;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 100%;
}

.sidebar h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
  color: #00adb5;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  display: block;
  color: #eeeeee;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.sidebar ul li a:hover {
  background-color: #00adb5;
  color: #ffffff;
}
